.mainDiv {
  width: 100%;
  height: 50px;
  background-color: black;
  padding-left: 10%;
  align-content: center;
}

.footerText {
  color: white;
  max-width: 1200px;
}

@media (max-width: 750px) {
  .mainDiv {
    padding-left: 0%;
    justify-items: center;
  }
}