.heroParent {
  width: 100%;
  height: auto;
  position: relative;
  justify-items: center;
  background-color: black;
}

.heroContent {
  width: 100%;
  height: auto;
  max-width: 1920px;
  position: relative;
}

.heroImage {
  width: 100%;
  height: auto;
  min-width: 960;
  max-width: 1920;
  display: flex;
  justify-self: center;
  aspect-ratio: 1920 / 650;
}

.heroOverlay {
  display: grid;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  margin-left: 10%;
  transform: translateY(-50%);
  max-width: 500px;
  max-height: 500px;
  grid-template-columns: auto;
  grid-template-rows: auto, auto;
  justify-items: center;
  align-items: center;
}

.heroHeader {
  display: grid;
  width: 100%;
  height: 100%;
  top: 20%;
  left: 15%;
  text-align: center;
  align-content: center;
  color: white;
  font-size: 25px;
}

.steamWishlistOverlay {
  display: grid;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

.steamLogo {
  width: 130px;
  height: auto;
  aspect-ratio: 210 / 66;
}

.wishListButton {
  color: #DEE2DA;
  font-size: 24px;
  background-color: #75B022;
  border-radius: 5px;
  border-style: hidden;
  width: 210px;
  height: 50px;
  text-decoration: none;
  text-align: center;
  align-content: center;
}